<main>
    <div class="wrapper">
        <div class="container">
            <div id="detail">
                <div class="detail-primary">
                    <div class="detail-left">
                        <div class="left-bg">

                        </div>
                        <div class="left-line">

                        </div>
                        <div class="left-avt">
                            <img src="/images/detail/1.jpg" alt="">
                        </div>
                        <div class="left-icon">
                            <a href="" title="facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>
                            <a href="" title="tiktok" target="_blank"><i class="fab fa-tiktok"></i></a>
                            <a href="" title="youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                            <a href="" title="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="" title="google" target="_blank"><i class="fab fa-google"></i></a>
                        </div>
                    </div>
                    <div class="detail-right">
                        <h2 class="right-title">GOLDIE VIET NAM</h2>
                        <p class="right-content">
                            Được thành lập vào năm 2017, <span>Goldie</span> là thương hiệu thời trang
                            đường phố lấy cảm hứng từ văn hoá đại chúng, nghệ thuật đương
                            đại, điện ảnh, kiến trúc, youth subculture. Các sản phẩm
                            của <span>Goldie</span> đề cao sáng tạo, đa phong cách nhưng phải mang
                            tính ứng dụng cao. <span>Goldie</span> đặc biệt tập trung vào việc nghiên
                            cứu form dáng, chất liệu, kết hợp những chi tiết high-end,
                            ứng dụng những công nghệ in thêu mới lên sản phẩm.
                        </p>
                        <p class="right-address">
                            <lord-icon class="lord-icon" src="js/map.json" colors="primary:#121331,secondary:#000000">
                            </lord-icon>
                            The New Playground 90 Lê Lai, quận 1
                        </p>
                    </div>
                </div>
                <div class="detail-txt-ft">
                    <p>GOLDIE VIET NAM GOLDIE VIET NAM</p>
                </div>
                <div class="detail-slide">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="">
                                    <img src="img/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <img src="img/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <img src="img/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <img src="img/4.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <img src="img/5.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <img src="img/goldievietnam-logo.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>