
<div class="xnav w-nav"">
        <div class="w-container">
            <!-- LOGO -->
            <a href="" class="logo w-nav-brand">
                <div class="text-block">
                    <span>
                        <strong class="bold-text">LOCAL BRAND <br> VIETNAM</strong>
                    </span>
                </div>
            </a>
            <!-- NAV-LINKS -->
            <nav class="nav-menu w-nav-menu">
                <a href="/" class="nav-link w-nav-link w--current" style="max-width: 940px;">Trang chủ</a>
                <a href="/danh-sach-brand" class="nav-link w-nav-link" style="max-width: 940px;">Danh sách</a>
                <a href="/tin-tuc" class="nav-link w-nav-link" style="max-width: 940px;">Tin tức</a>
                <a href="#" class="nav-link w-nav-link" style="max-width: 940px;">Liên hệ</a>
            </nav>
        </div>
</div>