<div class="xhero">
    
    <div class="heading-wrapper w-container">
        <h1 class="main-heading">
            CHÚNG TÔI TẠO RA
            <br>
            TRUYỀN THÔNG VÀ
            <br>
            KHÁC BIỆT
        </h1>
        <a href="#" class="button w-button text">BẮT ĐẦU !</a>
    </div>
</div>

<!-- section#1 -->
<section class="cards-section" id="cards-section">
    <div class="centered-container w-container">
        <h2>BẢNG XẾP HẠNG</h2>
        <p class="paragraph">
            <em>Bảng xếp hạng các thương hiệu đánh giá bởi cộng đồng.</em>
        </p>
        <div class="cards-grid-container">
            <!-- top 3 -->
            <div id="w-node-aaa" class="div-block">
                <div class="div-block-3">
                    <div class="cards-image-mask">
                        <a href="/danh-sach-brand/degrey">
                            <img src="/images/home/assets/degrey.png" alt="">
                        </a>
                    </div>
                    <a href="/danh-sach-brand/degrey">
                        <h3 class="heading-4 mt-3">
                            TOP 3
                            <br>
                            DEGREY
                        </h3>
                    </a>
                    <p id="w-node-fb348ecb-ce38-8300-2e69-b983e743ffb8-99422984" class="paragraph-2">
                        <a href="#">Degrey</a> góp mặt vào bản đồ thời trang từ năm 2016
                        và được biết đến qua những mẫu áo truyền thống được kết hợp hài hòa ...
                    </p>
                </div>
            </div>
            <!-- top 1 -->
            <div>
                <div class="div-block-3">
                    <div class="cards-image-mask">
                        <a href="/danh-sach-brand/5tw">
                            <img style="width: 100%;" src="/images/home/assets/5tw.png" alt="">
                        </a>
                    </div>
                    <a href="/danh-sach-brand/5tw">
                        <h3 class="heading mt-3">
                            TOP 1
                            <br>
                            5 THE WAY
                        </h3>
                    </a>
                    <p id="w-node-fb348ecb-ce38-8300-2e69-b983e743ffb8-99422984" class="paragraph-2 ">
                        <a href="#">5WT</a> Là một trong những thương hiệu
                        nổi bật nhất tại Sài Gòn. Thành lập từ 2018 đến nay
                        <a href="#">5 The Way</a> Sỡ hữu một lượng lớn người
                        theo dõi trên các kênh social media ...
                    </p>
                </div>
            </div>
            <!-- top 2 -->
            <div>
                <div class="div-block-2">
                    <div class="cards-image-mask">
                        <a href="/danh-sach-brand/TSUN">
                            <img style="width: 100%;" src="/images/home/assets/tsun.jpg" alt="">
                        </a>
                    </div>
                    <a href="/danh-sach-brand/tsun">
                        <h3 class="heading-3 mt-3">
                            TOP 2
                            <br>
                            TSUN
                        </h3>
                    </a>
                    <p id="w-node-fb348ecb-ce38-8300-2e69-b983e743ffb8-99422984" class="paragraph-2">
                        Được thành lập từ năm 2016, <a href="">TSUN</a> được biết đến như một Local Brand tại Sài
                        Gòn được nhiều bạn trẻ bạn trẻ yêu thích. Tất cả các sản phẩm đều được
                        <a href="">TSUN</a> thiết kế và sản xuất dựa trên tiêu chí chất lượng...
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- tin tuc -->
<section class="gallery">
    <div class="centered-container w-container">
        <h2>TIN &nbsp TỨC</h2>
        <p></p>
        <div class="gallery-grid-container">
            <a href="/tin-tuc" id="w-node-gallery" class="lightbox-link w-lightbox" class="hover-re">
                <img src="/images/home/assets/img1.jpg" alt="">
            </a>
            <a href="/tin-tuc" class="gallery-lightbox w-lightbox">
                <img src="/images/home/assets/img2.jpg" alt="" class="gallery-thumbnail">
            </a>
            <a href="/tin-tuc" class="gallery-lightbox w-lightbox">
                <img src="/images/home/assets/img4.jpg" alt="" class="gallery-thumbnail">
            </a>
            <a href="/tin-tuc" class="gallery-lightbox w-lightbox">
                <img src="/images/home/assets/img5.jpg" alt="" class="gallery-thumbnail" style="height:80%">
            </a>
            <a href="/tin-tuc" class="gallery-lightbox w-lightbox">
                <img src="/images/home/assets/img3.jpg" alt="" class="gallery-thumbnail" style="height: 80%;">
            </a>
        </div>
    </div>
</section>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>